  <div class="header">
    <div class="top-header">
      <div class="container">
        <div class="top-header-left">
          <ul class="support">
            <li><a href="#"><label> </label></a></li>
            <li><a href="#">24x7 live<span class="live"> support</span></a></li>
          </ul>
          <ul class="support">
            <li class="van"><a href="#"><label> </label></a></li>
            <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>  
      </div>
    </div>
    <div class="bottom-header">
      <div class="container">
        <div class="header-bottom-left">
          <div class="logo">
            <a href="/"><img src="images/logo.png" alt=" " /></a>
          </div>
          <div class="search">
            <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
            <input type="submit"  value="SEARCH">

          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="header-bottom-right">    
              {{# if login}}
              <ul class="login">
                <li><a href="/logout">Выйти</a></li>
              </ul>
              {{ else }}     
              <ul class="login">
                <li><a href="/signin"><span> </span>LOGIN</a></li> |
                <li ><a href="/signup">SIGNUP</a></li>
              </ul>
              {{/if}}

            <div class="cart">
                <a href="/shopCart"><span> </span>CART
                  <div class="badge">{{session.cart.totalQty}}</div>
                </a>
            </div>

          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div> 
      </div>
    </div>
  </div>
 